
<%= form_for [@post,@day], local: true do |f| %>    
    <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
        <% day.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
    <div class="field">
    <%= f.label :日付 %>
    <%= f.date_select :date %>
</div>

<% f.fields_for :days do |f| %>
<div class="field">
　<%= f.label :科目 %>
　<%= f.collection_select(:subs_id, Sub.all, :id, :name) %> 
</div>
<% end %>


<div class="field">
    <%= f.label :金額 %>
    <%= f.number_field :value %>
</div>

<div class="field">
    <%= f.label :摘要 %>
    <%= f.text_field :discription %>
</div>

<div class="actions">
    <%= f.submit %>
</div>

<% end %>            