<%= form_for(day) do |f| %>
    
    <div class="field">
        <%= f.label :日付 %>
        <%= f.date_select :date %>
    </div>

    <div class="field">
        <%= f.label :名前？ %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <label id='subs_id'>科目</label>
        <select name="subs_id">
            <% @subs.each do |sub| %>   
                <option value="<%= sub.name %>"><%= sub.name %></option>
            <% end %>
        </select>
    </div>
    
    <div class="field">
        <%= f.label :金額 %>
        <%= f.number_field :value %>
    </div>

    <div class="field">
        <%= f.label :摘要 %>
        <%= f.text_field :discription %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
    
<% end %>

  